/* CSS declarations go here */
body
    display flex
    min-height 100vh
    flex-direction column

main
    flex 1 0 auto

.about
    min-height 0px

.messageContainer
    min-height 80%

.controls
    max-height 100px
    position fixed
    bottom -4%
    padding 0px
    margin 0px
    z-index 1
