<template name="navigation">
    <nav class="red lighten-1">
        <div class="container">
            <div class="nav-wrapper">
                <!--
                <a href="/">
                    <img class="logo reponsive-img hide-on-med-and-down" src="/images/logo.png"/> 
                </a>
                -->
                <a href="/" class="brand-logo">Communicator</a>
                <a href="#" data-activates="collapsable-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/communicate">Communicate</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="side-nav" id="collapsable-menu">
                    <li><a href="/communicate">Communicate</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/settings">Settingss</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>
